.tarefas {
  margin-top: 30px;
}

.tarefas li span {
  display: flex;
  align-items: center;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tarefas li:hover {
  background: #51c5de;;
}

.tarefas li .edit {
  margin-right: 15px;
  color: #51c5de;
  cursor: pointer;
  transition: all 600ms;
}

.tarefas li .delet {
  color: #ff0026;
  cursor: pointer;
  transition: all 600ms;
}

.tarefas li:hover .delet, .tarefas li:hover .edit {
  color: #000;
}
